@import "tailwindcss";


/* Light and dark mode variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

/* Apply global styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

/* global.css or your component module */
.custom-phone-dropdown .country-list li {
  color: #c38a27;             /* normal text color */
  background-color: #111;     /* dark background */
}

.custom-phone-dropdown .country-list li:hover {
  background-color: #c38a27;  /* hover bg highlight */
  color: #000;                /* hover text color for contrast */
}

.custom-phone-dropdown .country-list .selected-flag {
  background-color: #0d0d0d !important; /* flag button bg */
}
